body {
    font-family: Arial,  sans-serif; /* La famiglia del font */
    font-size: 11px; /* La dimensione del font principale nei tag <p></p> */
    background-color: #020000; /* Il colore dello sfondo della pagina web */
    color: #fafafa; /* Il colore del testo */ 
}

h1 {
    color: #ffee00; /* Il colore dell'intestazione */
    font-size: 24px; /* La dimensione del font dell'intestazione */
    font-family: Georgia, serif; /* La famiglia del font usata nell'intestazione */
}
